.flexRowContent--identificationWrapper {
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.flexRowContent--checkoutContainer {
  min-height: 100vh;
  position: relative;
  width: auto;
}

.flexCol--checkoutColumn {
  padding: 2rem 4rem;
  padding-left: 0;
}

.flexColChild--checkoutColumn:last-child,
.flexColChild--checkoutColumnMobile:last-child {
  margin-top: auto;
}

.flexCol--checkoutColumnMobile,
.flexRowContent--checkoutRow {
  min-height: 100vh;
}

.flexCol--itemsSummary,
.flexCol--itemsSummaryMobile {
  background-color: #f2f4f5;
  height: 100%;
}

.flexCol--itemsSummary {
  padding-left: 1rem;
  padding-top: 1.5rem;
  animation: fade-in-right 500ms cubic-bezier(0.455, 0.030, 0.515, 0.955) 480ms both;
}

.flexRowContent--itemsSummaryMeta {
  justify-content: space-between;
  align-items: center;
}

.flexRowContent--itemsSummaryDrawerMeta {
  align-items: center;
  height: 100%;
}

.flexRowContent--itemsSummaryDrawerMeta :global(.vtex-button) {
  margin-left: .5rem;
}

.flexRow--checkoutDrawerHeader {
  width: 100%;
}

.flexRowContent--footerText ,
.flexRowContent--checkoutItemPriceWrapper,
.flexRowContent--checkoutDrawerHeader,
.flexRowContent--checkoutMobileHeader {
  justify-content: space-between;
}

@media screen and (min-width: 64em) {
  .flexRow--footerText {
    margin-top: 1rem;
  }
}

/* Checkout Container */

.flexRow--checkoutContainer {
  margin: 0;
}

/* S */
@media screen and (max-width: 40em) {
  .flexRowContent--checkoutContainer {
    margin: 0 auto;
  }

  .flexRow--checkoutContainer {
    margin: 0 1rem;
    background: none;
  }
}

@media screen and (min-width: 39em) and (max-width: 40em) {
  .flexRow--checkoutContainer {
    width: 37rem;
  }
}

/* M */
@media only screen and (min-width: 40em) {
  .flexCol--itemsSummary {
    padding-left: 1.5rem;
    padding-top: 2rem;
  }
}

@media screen and (min-width: 40em) and (max-width: 61em) {
  .flexRowContent--checkoutContainer {
    margin: 0 1.5rem;
  }
}

@media screen and (min-width: 61em) and (max-width: 64em) {
  .flexRowContent--checkoutContainer {
    margin: 0 auto;
    width: 58rem;
  }
}

/* L */
@media screen and (min-width: 64.0625em /* 1025px */) {
  .flexRow--checkoutContainer {
    background-image: linear-gradient(90deg, transparent 56.95%, #f2f4f5 43.05%);
    background-repeat: no-repeat;
    animation: gradient-right 500ms cubic-bezier(0.470, 0.000, 0.745, 0.715) both;
  }

  .flexCol--itemsSummary {
    padding-left: 3rem;
  }
}

@media screen and (min-width: 64em) and (max-width: 78em) {
  .flexRowContent--checkoutContainer {
    margin: 0 3rem;
  }
}

@media screen and (min-width: 78em) {
  .flexRowContent--checkoutContainer {
    margin: 0 auto;
    width: 72rem;
  }

  .flexCol--itemsSummary {
    padding-left: 4rem;
  }
}

/* Keyframes */
@keyframes fade-in-right {
  0% {
    overflow: hidden;
    transform: translateX(2em);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes gradient-right {
  0% {
    background-position: 3000px;
  }
  100% {
    background-position: 0;
  }
}
