.flexRowContent--identificationWrapper {
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.flexRowContent--checkoutContainer {
  min-height: 100vh;
  position: relative;
}

.flexRowContent--checkoutContainer::after {
  position: absolute;
  content: ' ';
  display: block;
  background: #f2f4f5;
  left: 100%;
  width: calc((100vw - 100%) / 2);
  height: 100%;
}

@media only screen and (max-width: 64em) {
  .flexRowContent--checkoutContainer::after {
    display: none;
  }
}

.flexCol--checkoutColumn {
  padding: 2rem 4rem;
  padding-left: 0;
}

.flexColChild--checkoutColumn:last-child,
.flexColChild--checkoutColumnMobile:last-child {
  margin-top: auto;
}

.flexCol--checkoutColumnMobile,
.flexRowContent--checkoutRow {
  min-height: 100vh;
}

.flexCol--itemsSummary {
  background-color: #f2f4f5;
  height: 100%;
}

.flexRowContent--itemsSummaryMeta {
  justify-content: space-between;
  align-items: center;
}

.flexRowContent--itemsSummaryDrawerMeta {
  align-items: center;
  height: 100%;
}

.flexRowContent--itemsSummaryDrawerMeta :global(.vtex-button) {
  margin-left: .5rem;
}

.flexRow--checkoutDrawerHeader {
  width: 100%;
}

.flexRowContent--footerText ,
.flexRowContent--checkoutItemPriceWrapper,
.flexRowContent--checkoutDrawerHeader,
.flexRowContent--checkoutMobileHeader {
  justify-content: space-between;
}

@media screen and (min-width: 64em) {
  .flexRow--footerText {
    margin-top: 1rem;
  }
}

/* Checkout Container */

.flexRow--checkoutContainer {
  margin: 0 1rem;
}

/* S */
@media screen and (min-width: 39em) and (max-width: 40em) {
  .flexRow--checkoutContainer {
    margin: 0 auto;
    width: 37rem;
  }
}

/* M */
@media screen and (min-width: 40em) and (max-width: 61em) {
  .flexRow--checkoutContainer {
    margin: 0 1.5rem;
  }
}

@media screen and (min-width: 61em) and (max-width: 64em) {
  .flexRow--checkoutContainer {
    margin: 0 auto;
    width: 58rem;
  }
}

/* L */
@media screen and (min-width: 64em) and (max-width: 78em) {
  .flexRow--checkoutContainer {
    margin: 0 3rem;
  }
}

@media screen and (min-width: 78em) and (max-width: 80em) {
  .flexRow--checkoutContainer {
    margin: 0 auto;
    width: 72rem;
  }
}

/* XL */
@media screen and (min-width: 80em) and (max-width: 104em) {
  .flexRow--checkoutContainer {
    margin: 0 4rem;
  }
}

@media screen and (min-width: 104em) {
  .flexRow--checkoutContainer {
    margin: 0 auto;
    width: 96rem;
  }
}
