.footerLayout--checkoutFooter {
  margin-top: 1rem;
  padding-top: 1.5rem;
}

.footerLayout--checkoutFooterMobile {
  margin: 1rem -1rem 0;
  padding: 1.5rem 1rem;
  background-color: #f2f4f5;
}

@media only screen and (min-width: 40em) {
  .footerLayout--checkoutFooterMobile {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    padding: 1.75rem 1.5rem;
  }
}

@media only screen and (min-width: 61em) {
  .footerLayout--checkoutFooterMobile {
    margin-left: calc((100% - 100vw) / 2);
    margin-right: calc((100% - 100vw) / 2);
    padding-left: calc((100vw - 100%) / 2);
    padding-right: calc((100vw - 100%) / 2);
  }
}

.poweredBy--checkout {
  height: auto;
  margin-top: 1.5rem;
  align-items: flex-start;
}

@media only screen and (min-width: 40em) {
  .poweredBy--checkout {
    margin-top: 0;
  }
}
