.flexRowContent--identificationWrapper {
  min-height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.flexRowContent--checkoutContainer {
  min-height: 100vh;
  position: relative;
  width: auto;
}

.flexCol--checkoutColumn {
  padding: 2rem 4rem;
  padding-left: 0;
}

.flexColChild--checkoutColumn:last-child,
.flexColChild--checkoutColumnMobile:last-child {
  margin-top: auto;
}

.flexCol--checkoutColumnMobile,
.flexRowContent--checkoutRow {
  min-height: 100vh;
}

.flexCol--itemsSummary,
.flexCol--itemsSummaryMobile {
  background-color: #f2f4f5;
  height: 100%;
}

.flexCol--itemsSummary {
  padding-left: 1rem;
  padding-top: 1.5rem;
}

@media only screen and (min-width: 40em) {
  .flexCol--itemsSummary {
    padding-left: 1.5rem;
    padding-top: 2rem;
  }
}

@media only screen and (min-width: 64em) {
  .flexCol--itemsSummary {
    padding-left: 3rem;
  }
}

@media only screen and (min-width: 80em) {
  .flexCol--itemsSummary {
    padding-left: 4rem;
  }
}

.flexRowContent--itemsSummaryMeta {
  justify-content: space-between;
  align-items: center;
}

.flexRowContent--itemsSummaryDrawerMeta {
  align-items: center;
  height: 100%;
}

.flexRowContent--itemsSummaryDrawerMeta :global(.vtex-button) {
  margin-left: .5rem;
}

.flexRow--checkoutDrawerHeader {
  width: 100%;
}

.flexRowContent--footerText ,
.flexRowContent--checkoutItemPriceWrapper,
.flexRowContent--checkoutDrawerHeader,
.flexRowContent--checkoutMobileHeader {
  justify-content: space-between;
}

@media screen and (min-width: 64em) {
  .flexRow--footerText {
    margin-top: 1rem;
  }
}

/* Checkout Container */

.flexRow--checkoutContainer {
  margin: 0 1rem;
  /* margin: 0; */
}

/* S */
@media screen and (max-width: 40em) {
  .flexRowContent--checkoutContainer {
    margin: 0 auto;
    /* width: 37rem; */
  }

  .flexRow--checkoutContainer {
    margin: 0 1rem;
    background: none;
  }
}

/* M */
@media screen and (min-width: 40em) and (max-width: 61em) {
  .flexRow--checkoutContainer {
    margin: 0 1.5rem;
  /* .flexRowContent--checkoutContainer { */
    margin: 0 1.5em;
  }
}

@media screen and (min-width: 61em) and (max-width: 64em) {
  .flexRowContent--checkoutContainer {
    margin: 0 auto;
    width: 58rem;
  }
}

/* L */
@media screen and (min-width: 64em) {
  .flexRow--checkoutContainer {
    margin: 0 3rem;
  }
}

@media screen and (min-width: 78em) {
  .flexRow--checkoutContainer {
    background: linear-gradient(90deg, transparent 64.75%, #f2f4f5 35.25%);
  }
}

@media screen and (min-width: 64em) and (max-width: 78em) {
  .flexRowContent--checkoutContainer {
    margin: 0 3em;
  }
}

@media screen and (min-width: 78em) and (max-width: 80em) {
  .flexRowContent--checkoutContainer {
    margin: 0 auto;
    width: 72em;
  }
}

/* XL */
@media screen and (min-width: 80em) {
  .flexRow--checkoutContainer {
    margin: 0;
  }
}
@media screen and (min-width: 80em) and (max-width: 104em) {
  .flexRowContent--checkoutContainer {
    margin: 0 4em;
    width: auto;
  }
}

@media screen and (min-width: 104em) {
  .flexRowContent--checkoutContainer {
    margin: 0 auto;
    width: 72rem;
  }
}
